<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather Forecast</title>
</head>
<body>
    <div class="main">
        <form action="post">
            <h1 class="Weather" id="Weather"> Weather App</h1>

            <h1 class="city" id="city">City</h1>
            

            <div class="tiempo" id="tiempo">
                
                <div class="imagen" id="imagen">
                    <img class="png" id="png" src="img/sun.png" alt="">
                </div>


                <div class="info" id="info">
                    <h3 class="temperatura" id="temperatura">Temperatura</h3>
                </div>
            </div>

            <h4>Hecho por Endert. Ernesto no hizo un coño.</h4>

        </form>
    </div>
</body>
</html>